{% extends 'base.html' %}
 {% block title %} Home Page {% endblock title %}


 <!-- content  -->

{% block content %}

<div class="container-fluid m-5">
    <div class="container mt-5 mb-5">
        <h1>Featured Products</h1>
        <div class="row">            
                {% if featured %} {% for item in featured  %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-3">
                    <div class="card">
                        <a href="{% url 'detail' item.id %}"><img src="{{item.image.url}}" class="card-img"></a> 
                        <!-- <img src="{{items.image.url}}" class="card-img-top"> -->
                        <div class="card-body"> 
                            <a href="{% url 'detail' item.id %}">
                                <h5 class="card-title">Product:{{item.name}} title</h5>
                            </a>
                            <p class="card-text">Price:{{item.price}}</p>
                        </div>
                        <a href=" {% url 'detail' item.id %} "><button type="submit" class="btn btn-primary">Buy</button></a>
                    </div>
                </div>
                <!--  -->
                {% endfor %}  {% endif %}            
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <h1>Latest Products</h1>
        <div class="row">            
            {% if latest %} {% for item in latest  %}
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3 mt-3">
                <div class="card">
                    <a href="{% url 'detail' item.id %}"><img src="{{item.image.url}}" class="card-img"></a> 
                    <!-- <img src="{{items.image.url}}" class="card-img-top"> -->
                    <div class="card-body"> 
                        <a href="{% url 'detail' item.id %}">
                            <h5 class="card-title">Product:{{item.name}} title</h5>
                        </a>
                        <p class="card-text">Price:{{item.price}}</p>
                    </div>
                    <a href="{% url 'detail' item.id %}"><button type="submit" class="btn btn-primary">Buy</button></a>
                </div>
            </div>
            <!--  -->
            {% endfor %}  {% endif %}            
        </div>
    </div>
</div>                     
  
{% endblock content %}

 <!-- content done -->
 